{% extends "base.html" %}
{% block content %}
<h2>К заказу</h2>
<table>
<thead>
<tr><th>Артикул</th><th>Наименование</th><th>Ед</th><th>МСК</th><th>ТВЕРЬ</th><th>Итого</th><th>Min</th><th>Нужно</th></tr>
</thead>
<tbody>
{% for row in rows %}
<tr class="need">
<td>{{ row.article }}</td>
<td>{{ row.name }}</td>
<td>{{ row.unit }}</td>
<td>{{ row.msk_qty }}</td>
<td>{{ row.tver_qty }}</td>
<td>{{ row.total_qty }}</td>
<td>{{ row.min_stock }}</td>
<td>{{ row.need_qty }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
